*{
    margin: 0 auto; padding: 0 
}
a{
    text-decoration: none;
}
.bici{
    max-width: 2000px ; margin: 0 auto
}
.bici img{
    width: 100%;
}
.btn{
    border:  1px solid #e74c3c; width: 150px; height: 50px; line-height: 50px; text-align: center;
    margin-top: 100px; margin-bottom: 100px; background-color: #e74c3c; color: #fff;
}
.btn:hover{
    cursor: pointer; box-shadow: 0px 2px 2px 1px rgba(254, 189, 63, 1);
    color: #fff;
}
.btn > a{
    color: #fff;
}